<html>
<head>
	<title>To-Do List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	
	<nav class="navbar navbar-light bg-primary">
		<h1 style="color: white;">To-Do List</h1>
		<right><a href="/stopApp"><button type="button" class="btn btn-danger">Stop app</button></a></right>
	</nav>
	{% if data=="Error" %}
	<a href="/">
		<button type="button" class="btn btn-danger btn-block">Database is not running! Click here to retry</button>
	</a>
	{% else %}
	<form action="/addTask" method="post">
		<div class="row mt-5 ml-5 mb-3">
			<div class="col">
				<input type="text" class="form-control" placeholder="Enter task" name="task" required>
			</div>
			<div class="col">
				<input class="btn btn-primary" type="submit" value="Add">
			</div>
		</div>
	</form>
	<div class="row ml-5">
		<div class="col">
			<table class="table">
				 	<tr>
				 		<th scope="col">Task</th>
				 		<th scope="col">Date added</th>
				 		<th scope="col">Action</th>
				 	</tr>
					{% for row in data %}
					<tr>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
						<td><a href="/deleteTask?id={{ row[0] }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
					</tr>
					{% endfor %}	
			</table>
		</div>
	</div>
	{% endif %}
</body>
</html>
